<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link  rel="stylesheet" href = "/static/main.css">

</head>
<body>
    <div class="text">
        <form action="" method="post">

            <h1>Ресторан</h1>
            <p>
                <label for="username">Логин</label>
            </p>
            <p>
                <input type="text" name="login" placeholder="Login Input">
            </p>



            <p>
                <label for="phone_number">Пароль</label>
            </p>
            <p>
                <input type="password" name="password" placeholder="Password Input">
            </p>
            <p>
                <form method="LINK" action="/index">
                    <input class="myButton" type="submit" value="Вход">
                </form>

            </p>
            <a href="https://mail.google.com/mail/zhenya.novokshanov@gmail.com"> Help </a>




        </form>
    </div>
</body>
</html>