<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задачи</title>
    <link  rel="stylesheet" href = "/static/main.css">
</head>
<body>
    <div class="text">
        <form>

            <p>
                <label for="direction">Задача</label>
            </p>

            <select name="direction">
                <option value="direction_1">Отчет за месяц</option>

                <option value="direction_2">Сотрудники</option>

                <option value="direction_3">Счета</option>

                <option value="direction_4">Меню</option>

            </select>
            <p>
                <button class="myButton" type="submit">Выполнить</button>
            </p>
            </form>
    </div>
</body>
</html>